<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>
            {% block windowtitle %}
                {{ SITENAME }}
            {% endblock %}
        </title>

        <link rel="icon" href="{{ SITEURL }}/favicon.ico" type="image/x-icon">
        <link href="{{ SITEURL }}/theme/css/bootstrap.min.css" rel="stylesheet">
        <link href="{{ SITEURL }}/theme/css/font-awesome.min.css" rel="stylesheet">
        <link href="{{ SITEURL }}/theme/css/pygments.css" rel="stylesheet">
        <link href="{{ SITEURL }}/theme/css/site.css" rel="stylesheet">
        <script>
            var _prum = [['id', '54df6b0eabe53d46583a9994'],
                         ['mark', 'firstbyte', (new Date()).getTime()]];
            (function() {
                var s = document.getElementsByTagName('script')[0]
                  , p = document.createElement('script');
                p.async = 'async';
                p.src = '//rum-static.pingdom.net/prum.min.js';
                s.parentNode.insertBefore(p, s);
            })();
        </script>
    </head>
    <body>
        <div class="container" id="blog-container">
            <div class="row">
                <div class="col-sm-7 col-sm-offset-2" id="content-container">

                    {% block content %}
                    {% endblock %}

                </div><!-- /.blog-main -->
                {% include "sidebar.html" %}
            </div><!-- /.row -->

        </div><!-- /.container -->
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-51184589-1', 'mackwerk.dk');
            ga('send', 'pageview');
        </script>
    </body>
</html>
