<div class="col-sm-3" id="sidebar">
    <a href="{{ SITEURL }}">
        <img src="http://www.gravatar.com/avatar/d3d3cd94b6b95bd0fa517104d826bd23?s=250">
    </a>
    <a target="_blank" class="social" href="https://github.com/Dinoshauer">
        <i class="fa fa-2x fa-github-square"></i>
    </a>
    <a target="_blank" class="social" href="https://twitter.com/jacobsenkm">
        <i class="fa fa-2x fa-twitter-square"></i>
    </a>
    <a target="_blank" class="social" href="https://dk.linkedin.com/in/jacobsenkm">
        <i class="fa fa-2x fa-linkedin-square"></i>
    </a>
    <a target="_blank" class="social" href="https://www.facebook.com/kaspermj">
        <i class="fa fa-2x fa-facebook-square"></i>
    </a>
    <p>
        <span id="author">
            Kasper M. Jacobsen
        </span>
        <br />
        <span id="title">
            Systems Engineer
            <a href="https://twitter.com/falconsocial">@FalconSocial</a>
        </span>
    </p>
</div>
